In [1]:
import pandas as pd
import numpy as np

path = "C:\\Users\\janwe\\OneDrive\\Dokumente\\Projekte\\Star_Wars_Legion_Rabbit\\01_data\\01_raw"

excel_pd = pd.read_excel(path+"\Liga.xlsx",index_col=0,sheet_name='Spiele')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [11]:
excel_pd['Looser'] = np.select(
    [
        excel_pd['Spieler_1'] == excel_pd['Gewinner'], 
        excel_pd['Spieler_2'] == excel_pd['Gewinner']
    ], 
    [
        excel_pd['Spieler_2'], 
        excel_pd['Spieler_1']
    ], 
    default=None
)

In [13]:
excel_pd.head()

,Spieltag,Spieler_1,Fraktion_Spieler_1,Spieler_2,Fraktion_Spieler_2,Gewinner,Looser
Planet,,,,,,,
Hoth,Spieltag 1,Jan W.,NaN,Kevin,NaN,Kevin,Jan W.
Hoth,Spieltag 1,Krauti,NaN,Matu,NaN,Krauti,Matu
Hoth,Spieltag 1,Mustafa,NaN,Robin,NaN,Robin,Mustafa
Hoth,Spieltag 2,Robin,NaN,Krauti,NaN,NaN,None
Hoth,Spieltag 2,Mustafa,NaN,Jan W.,NaN,NaN,None

In [9]:
all_player = excel_pd['Spieler_1'].unique()
index = np.argwhere(all_player=='FREI')
y = np.delete(all_player, index)

In [10]:
all_player

array(['Jan W.', 'Krauti', 'Mustafa', 'Robin', 'Kevin', 'Matu',
       'Jan-Eric', 'Mike Menicks', 'Mathias Drozak', 'Klaudius',
       'Markus Star-Killer', 'Sebastian Lazy', 'Thomas Ispaniel', 'Olli',
       'Darius', 'FREI', 'Jens Wendigo', 'Cheesy', 'Marc', 'Orlando',
       'Marco K.', 'Maik', 'Antonio'], dtype=object)

In [11]:
player_ranking = pd.DataFrame(all_player)

In [12]:
player_ranking['win'] =

                     0
0               Jan W.
1               Krauti
2              Mustafa
3                Robin
4                Kevin
5                 Matu
6             Jan-Eric
7         Mike Menicks
8       Mathias Drozak
9             Klaudius
10  Markus Star-Killer
11      Sebastian Lazy
12     Thomas Ispaniel
13                Olli
14              Darius
15                FREI
16        Jens Wendigo
17              Cheesy
18                Marc
19             Orlando
20            Marco K.
21                Maik
22             Antonio

In [ ]:
player_ranking.head()