In [1]:
import pandas as pd
import numpy as np

raw_path = "C:\\Users\\janwe\\OneDrive\\Dokumente\\Projekte\\Star_Wars_Legion_Rabbit\\01_data\\01_raw"
preprocessed_path = "C:\\Users\\janwe\\OneDrive\Dokumente\\Projekte\\Star_Wars_Legion_Rabbit\\01_data\\02_processed"

excel_pd = pd.read_excel(raw_path+"\Liga.xlsx",index_col=0,sheet_name='Spiele')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
excel_pd['Looser'] = np.select(
    [
        excel_pd['Spieler_1'] == excel_pd['Gewinner'], 
        excel_pd['Spieler_2'] == excel_pd['Gewinner']
    ], 
    [
        excel_pd['Spieler_2'], 
        excel_pd['Spieler_1']
    ], 
    default=None
)

In [3]:
excel_pd.head()

,Spieltag,Spieler_1,Fraktion_Spieler_1,Spieler_2,Fraktion_Spieler_2,Gewinner,Looser
Planet,,,,,,,
Hoth,Spieltag 1,Jan W.,NaN,Kevin,NaN,Kevin,Jan W.
Hoth,Spieltag 1,Krauti,NaN,Matu,NaN,Krauti,Matu
Hoth,Spieltag 1,Mustafa,NaN,Robin,NaN,Robin,Mustafa
Hoth,Spieltag 2,Robin,NaN,Krauti,NaN,NaN,None
Hoth,Spieltag 2,Mustafa,NaN,Jan W.,NaN,Mustafa,Jan W.

In [4]:
ranking_winner = excel_pd\
    .groupby(['Planet','Gewinner'])\
    .size()\
    .reset_index(name='count_win')\
    .rename(columns={"Gewinner": "Spieler"})

In [6]:
ranking_looser = excel_pd\
    .groupby(['Planet','Looser'])\
    .size()\
    .reset_index(name='count_loss')\
    .rename(columns={"Looser": "Spieler"})

In [8]:
#ranking_all = ranking_winner.join(ranking_looser,lsuffix='Spieler',rsuffix='Spieler',how='outer')
ranking_all = ranking_winner.merge(ranking_looser,how='outer')

In [9]:
ranking_all = ranking_all.replace(np.nan, 0)\
    .sort_values(by=['Planet','count_win'],ascending=False)

In [10]:
ranking_all.head(15)

  Planet             Spieler  count_win  count_loss
3   Hoth               Kevin        2.0         1.0
4   Hoth              Krauti        2.0         0.0
6   Hoth               Robin        2.0         0.0
2   Hoth              Jan W.        1.0         2.0
5   Hoth             Mustafa        1.0         2.0
9   Hoth                Matu        0.0         3.0
0  Endor            Klaudius        3.0         0.0
1  Endor      Mathias Drozak        1.0         1.0
7  Endor  Markus Star-Killer        0.0         1.0
8  Endor        Mike Menicks        0.0         2.0

In [20]:
ranking_all.to_csv(preprocessed_path + '\\ranking.csv')

In [12]:
all_player = excel_pd['Spieler_1'].unique()
index = np.argwhere(all_player=='FREI')
y = np.delete(all_player, index)

In [10]:
all_player

array(['Jan W.', 'Krauti', 'Mustafa', 'Robin', 'Kevin', 'Matu',
       'Jan-Eric', 'Mike Menicks', 'Mathias Drozak', 'Klaudius',
       'Markus Star-Killer', 'Sebastian Lazy', 'Thomas Ispaniel', 'Olli',
       'Darius', 'FREI', 'Jens Wendigo', 'Cheesy', 'Marc', 'Orlando',
       'Marco K.', 'Maik', 'Antonio'], dtype=object)

In [11]:
player_ranking = pd.DataFrame(all_player)

In [ ]:
player_ranking.head()